---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://jokes.creativeshi.com" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="keywords"
      content="dad jokes, astro, SSR, cloudflare, jokes api"
    />

    <meta name="title" content={title} />
    <meta
      name="description"
      content="Search for Dad jokes, Simple SSR website built with astro using Cloudflare workers"
    />
    <title>{title}</title>
  </head>
  <body class="flex items-center flex-col mx-2">
    <slot />
  </body>
</html>
